.Login {}
.Header h1{
    font-family: sans-serif;
    font-size: 59px;
    text-align: center;
}


.Email input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 36px;
    width: 348px;
    margin-bottom: 10px;
}

.Email{
    text-align: center;
}

.Password input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 36px;
    width: 348px;
    margin-bottom: 20px;
}

.Password{
    margin: 0 auto;
    text-align: center;
}



.Forgot-password{
    margin: 0 auto;
    text-align: center;
}

.Forgot-password a{
    position: relative;
    text-align: center;
}

.Sign-up{
    margin:0 auto;
    text-align: center;
}

.Sign-up a{
    position: relative;
    right: 135px;
    top: 35px;
}


.Sign-in button{

    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;
    border-radius: 5px;
    text-emphasis-color: white;
    background-color: black;
    color: white;


    background-color: #005DA6;
    background-position: color(#FFFFFF);
    height: 40px;
    width: 184px;
    padding: 4px 12px 4px 12px;

    position: absolute;
    top: 100;

    margin-top: 5px;
    
}

.Sign-in{
    text-align: center;
}
/*Cambios*/