.css-hyum1k-MuiToolbar-root{
    justify-content: center;
}
.css-1776fzg-MuiInputBase-root .MuiInputBase-input {
    padding: 5px;

}
.css-yz9k0d-MuiInputBase-input {
    width: 25rem !important;
}
.css-1gc2eo4{
    align-items: center;
}