.VerificationCode {}

.Verification-Header h1{
    font-size: 33px;
    font-family: sans-serif;
    text-align: center;

}

.Verification-Text p{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 65px;
    margin-right: 30px;
}

.Verification-Text{
    position: absolute;
    align-items: center;    
}

.Email-label label{
    font-family: sans-serif;
    font-size: 20px;
}

.Email-label{
    text-align: center;
}

.Email-verification input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 36px;
    width: 348px;
    margin-bottom: 10px;
}

.Email-verification{
    text-align: center;
}

.Button-email button{
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 0px;
    border-radius: 5px;
    text-emphasis-color: white;
    background-color: black;
    color: white;


    background-color: #005DA6;
    background-position: color(#FFFFFF);
    height: 40px;
    width: 300px;
    padding: 4px 12px 4px 12px;
    margin-top: 5px;
}

.Button-email{
    text-align: center;
}

.Verification-code input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 36px;
    width: 348px;
    margin-bottom: 10px;
}

.Verification-code{
    text-align: center;
}

.Button-verification{
    text-align: center;
}

.Code-text label{
    font-family: sans-serif;
    font-size: 20px;
}

.Code-text{
    text-align: center;
}

.Sign-up-verification{
    margin: 0 auto;
    text-align: center;
}

.Sign-up-verification a{
    position: relative;
    right: -135px;
    top: 15px;
}

.Verification-Container{
    height: 500px;
    width: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #333;
    border-radius: 5px;
}