/* Modal */
hr {
    border: 1px solid #6462A7;
    width: 100%;
    margin: 1rem 0rem;
}
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline;
    max-height: 620px;
    max-width: 650px;
    width: 360px;
    outline: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
   
}
@media (max-width: 768px) {
    .modal {
        width: 250px;
    }
}
.modal h1 {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px solid white;
}
.container button {
    padding: 12px 16px;
    border: none;
    background-color: #6462A7;
    color: white;
    transition: all ease 300ms;
    margin-top: 1rem;
    border-radius: 5px;
}
.container button:hover {
    border: none;
    background-color: #5C5EC8;
}
.form-control {
    margin: 1rem 0.5rem;
    padding: 0.7rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    border-radius: 5px;
}

.form-control::placeholder {
    font-size: 0.9rem; 
    color: #6462A7;
}
.label{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 1rem;
}
.select {
    width: 75%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #6462A7;
    font-size: .9rem;
    margin: 0.7rem;
}
.select-time{
    width: 43%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #6462A7;
    font-size: .9rem;

    margin: 0rem 4.5rem 1rem 3rem;
}
.group-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.time{
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem 1rem 0rem;
}
.time input {
    width: 23%;
    padding: 0rem;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    color: #6462A7;
    font-size: 0.9rem;
    margin-left: 6rem;
}